<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.possantransbusticketingsystemapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />


    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.POSSantransBusTicketingSystemApp"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false" />

        <activity android:name=".SelectionLoopActivity" android:exported="false" />
        <activity android:name=".RouteListActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"/> <activity android:name=".PassengerActivity" android:exported="false" />
        <activity android:name=".TicketActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"/> <activity android:name=".GcashQrActivity" android:exported="false" />

        <activity android:name=".ConductorMenuActivity" android:exported="false" />
        <activity android:name=".TermsActivity" android:exported="false" />
        <activity android:name=".ChatActivity" android:exported="false" />

        <activity
            android:name=".FareDataActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
            android:name=".TicketHistoryActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="Settings" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            tools:node="merge" />

    </application>
</manifest>